In [43]:
!pip install b4
from bs4 import BeautifulSoup
import requests
import pandas as pd

Requirement already satisfied: b4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.4.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from b4) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->b4) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->b4) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->b4) (2020.4.5.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->b4) (1.24.1)

## Make Soup

In [44]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
r = requests.get(url)

soup = BeautifulSoup(r.content, 'lxml')

table = soup.table#.class_= 'wikitable sortable jquery- tablesorter'

## Convert Table to DF

In [45]:
df = pd.read_html(str(table))[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Process DF

In [66]:
df.dropna(inplace = True)

## Shape

In [67]:
df.shape

(103, 3)

# Problem 2

## Import CSV

In [68]:
# Import the lib
from project_lib import Project

project = Project(project_id = "ff739885-7f39-4869-8256-83a1cbb23e37", project_access_token = "p-e47a67d832e4c1d93dca6cbe6f4e2da39c5fa2ce")

# Fetch the file
my_file = project.get_file('Geospatial_Coordinates.csv')

# Read the CSV data file from the object storage into a pandas DataFrame
my_file.seek(0)
import pandas as pd
df2 = pd.read_csv(my_file)


df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## join the two dataframes

In [70]:
df_total = pd.merge(df, df2, how = 'left', left_on = 'Postal Code', right_on = 'Postal Code', right_index = False)

df_total.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494